$baseBackground: #222222;
$baseDarker: #4D3F3C;
$baseDark: #352F2E;
$text: #fff8c0;

$white: #fdf7ed;


$baseDarkerOpacity: rgba(77, 63, 60,0.5);
$baseDarkOpacity: rgba(53, 47, 46,0.5);


$accent: #da4e38;
$darkerAccent: #d44e52;

$danger: #bd294e;
$yellow: #facb3e;



$modalOverlay: rgba(0, 0, 0, 0.5);

$minWidth: 768px;

$defaultSize: 1rem;
$titleSize: 2rem;
$iconSize: 1.25rem;


$borderRadius: .15rem;
