@import "../../../../styles/fonts";


.title {
  @extend .headerFont;
  margin-bottom: .25rem;
}

.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;

  &:nth-child(2){
    flex: 1;
  }
}

