@import "../../../../styles/variables";
@import "../../../../styles/common";

.baseItem {
  display: grid;
  grid-template-columns: 1rem 1fr 3rem .5fr;
  grid-gap: 2vw;
  align-items: center;
  padding: .5rem;
  margin: .5rem 0;
  border-radius: $borderRadius;
}

.firstItem {
  @extend .baseItem;
  background: $baseDarker;
}

.item {
  @extend .baseItem;
  background: $baseDark;
}


.join {
  @extend .baseButton;
  background: $baseDarker;
  width: 100%;

  &:hover {
    background: $baseDarkerOpacity;
  }
}

.create {
  @extend .accentButton;
}
